
.container1{
	width:59%;
	margin:auto;
	margin-top:-390px;
	background:#fff5df;
	min-height: 950px;
	text-align: left;
	
}
.c2{
	width:90%;
	float:right;
	
}
*{
	margin:0;
	
}
article,header{
	display: block;
}
.entry-content{
	min-height:500px;
    margin-top: -60px;
}
.entry-content tr td img{
	width:170px;
	height:230px;
	padding:40px;
	padding-top:0px;
	padding-bottom:20px;
	margin-left:27px;
	border:cornflowerblue;
	border-style: dotted;
	
}
	

.alignright{
	float:right;
	margin:10px;
}
figure{
	display:block;
	margin-block-start:1em;
	margin-block-end:1em;
	margin-inline-start:40px;
	margin-inline-end: 40px;

}
p{
	display:block;
	margin-block-start:1em;
	margin-block-end:1em;
	margin-inline-start:0px;
	margin-inline-end: 0px;
	color:#fff5df;
}
strong,b{
	font-weight: bold;
}
.entry-content,p{
	padding: 10px 20px;
	font-size:14px;
	line-height:1.7em;
	text-align: justify;
	
	
}
.clear{
	clear: both;
	
}
.img[Attribute Style]{
	width: 260px;
	height:170px;
}
:webkit- any(article,aside,nav,section) h1{
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
}
h1{
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight:bold;
}
.entry-title{
	padding:20px;
}